@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive, sans-serif;
}
.outline {
    /* border: 1px solid black; */
    box-shadow: inset 2px 2px;
}

.container {
    display: flex;
    width: 500px;
    height: 500px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
}

.change-black {
    background-color: black;
}
