@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* default setting */
html, body, header, main, footer, section {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive, sans-serif;
}

/* header section */

header {
    background-color: #FDF1E5;
    color: #E94C42;
}

/* main section */
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    background-color: #FDF1E5;
    flex: 1;
}

/* up section */


/* down section */

.down {
    margin: 1rem 2rem;
    display: flex;
}

/* buttons section */
button {
    font-family: inherit;
    cursor: pointer;
}

/* Pressed effect */
.function-btn {
    margin: 1rem 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 20px;
    font-family: inherit;
    color: #E94C42;
    background-color: white;
    border: 6px solid #F8A76C;
    border-radius: 16px;
    box-shadow: 0 6px #999;
}

.function-btn:hover {
    background-color: rgb(232, 230, 230);
}

.function-btn:active {
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

/* drawing container section */
.outline {
    box-shadow: inset 2px 2px;
}

.container {
    /* border: 6px solid #C2D8B8; */
    background-color: #bbdceb;
    border-radius: 16px;
    box-shadow: 6px 6px #999;

}

.canvas {
    display: flex;
    margin: 2rem;
    width: 500px;
    height: 500px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
}

.change-black {
    background-color: black;
}

/* footer section */

footer {
    padding: 1rem;
    font-size: 12px;
    background-color: #FBCFC9;
    color: #E94C42;
}

a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: #E94C42;
    
}